# Build output
/build/
/bin/
/app/build/
*.jar
*.class
*.war
*.ear
*.bin
*.tmp

# Test results
/test-results/
*.xml

# IDE files
*.classpath
*.project
.settings/

# Logs
*.log
gradle.out

# Other
*.tar
*.zip
.gradle
